* {
  --bgColor: #020024;
  --fadeColor: transparent;
  --accentColor: #0a2d62;
}

.main {
  display: flex;
  height: 100svh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  font-family: IBM Plex Sans, sans-serif;
  user-select: none;
  background: var(--bgColor);
  margin: 0;
  -webkit-tap-highlight-color: var(--fadeColor);
}

.verticalFade {
  position: fixed;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  height: 200px;
  left: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  will-change: transform;
  top: 0;
  background: linear-gradient(to top, transparent, var(--bgColor));
  -webkit-mask-image: linear-gradient(
    to bottom,
    var(--bgColor) 25%,
    transparent
  );
  mask-image: linear-gradient(to bottom, var(--bgColor) 25%, transparent);
}

.horizontalFade {
  width: 16vw;
  height: 100%;
  position: fixed;
  bottom: 0;
  z-index: 3;
  opacity: 1;
  min-width: 120px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.horizontalFade[data-side="left"] {
  background: linear-gradient(to left, var(--fadeColor), var(--bgColor));
  -webkit-mask-image: linear-gradient(
    to right,
    var(--bgColor),
    var(--fadeColor)
  );
  mask-image: linear-gradient(to right, var(--bgColor), var(--fadeColor));
  left: 0px;
}

.horizontalFade[data-side="right"] {
  background: linear-gradient(to right, var(--fadeColor), var(--bgColor));
  -webkit-mask-image: linear-gradient(
    to left,
    var(--bgColor),
    var(--fadeColor)
  );
  mask-image: linear-gradient(to left, var(--bgColor), var(--fadeColor));
  right: 0;
}

.lineVertical {
  position: fixed;
  background: linear-gradient(
    to bottom,
    var(--accentColor) 50%,
    transparent 100%
  );
  height: 100vh;
  top: 0;
  width: 1px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.lineVertical[data-side="left"] {
  left: calc(50% - 140px);
}

.lineVertical[data-side="right"] {
  right: calc(50% - 140px);
}

.lineHorizontal {
  position: fixed;
  width: 500vw;
  height: 1px;
  background: var(--accentColor);
  transform: translateX(-50%);
  left: 50%;
}

.lineHorizontal[data-side="top"] {
  top: 200px;
}

.lineHorizontal[data-side="bottom"] {
  top: 400px;
}

.siteLogo {
  margin-right: -7px;
  margin-bottom: -1px;
  pointer-events: none;
  height: 44px;
}

.weblink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.siteName {
  color: #2f94ff !important;
  font-style: italic;
  margin-block: 0;
  padding-right: 6px;
}

.liveIndicator {
  animation: fadeInOut 2s ease infinite;
  color: azure;
  font-weight: 600;
  pointer-events: none;
  font-size: 24px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  padding-top: 230px;
  animation: fadeIn 0.35s ease-in both;
}

.footer {
  position: absolute;
  bottom: 60px;
  display: flex;
  align-items: center;
}

.website {
  color: bisque;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
